body{
  background-image:url(img/77907.jpg);
  text-align:center;
  color:#000;
  background-size:100%;
  margin:0;
  position:relative;
  z-index:1;
  font-family: 'Noto Sans JP';
  background-attachment: fixed;
}
.body{
    box-shadow: 0 20px 40px 0 rgba(4,53,128,.15);
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255,255,255,0.1);
    font-family: 'Kaisei Decol', serif;
}

body:lang(en){
  font-family:"Allison", cursive;
}

rt{
    font-size: 5px;
    font-family: "Noto Sans JP";
}

.eng{
    font-family: "Allison", cursive;
}
.text {
    box-shadow: 0 10px 30px 0 rgba(4,53,128,.15);
}

.icon {
    height: 50px;
    width: 50px;
    margin:10px 25px 10px 25px;
}

.sample {
    height: 300px;
    width: 300px;
}

::selection {
  background: #0ff;
}
::-moz-selection {
  background: #000;
}
